/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'IBM Plex Sans';
    background: #BF2A52;
}

nav a { 
    margin: 0 10px; 
    color:#F2E9CE; 
    text-decoration: none; 
}

.header-cima {
    background-color: #F2AE2E;      
    width: 100%; 
    height: 40px;  
    display: flex;
    align-items: center;       
}

.header-cima nav a {
    color: #F2e9ce;
    font-family: 'IBM Plex Sans';       
    font-size: 15px;  
    font-weight: 600;        
}

.header-cima nav a:hover {
    color: #BFB74B;   
}

.header-baixo {
    background-color: #F2E9CE;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;      
}

h1{
    font-size: 80px;
    font-weight: bold;
}

.icones {
    display: flex;
    gap: 18px;;
}

.icon {
    width: 68px;
    height: 68px;
    background: #F2E9CE; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #D96C80;
}

.icon-face{
    width: 68px;
    height: 68px;
    background: #F2E9CE; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #D96C80;
    margin-left: 25px;
    margin-right: 25px;
}

.icon-face:hover {
    background: #BFB74B;
    color: #F2E9CE;
}

.icon:hover {
    background: #BFB74B;
    color: #F2E9CE;
}

.layout-container {
    padding: 10px; 
}

.box {
    background-size: cover;
    background-position: center;
    background: #D96C80;
    color: #F2e9ce;
    padding: 18px;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';   
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px;  
}

.box-img img {
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.box-texto {
    flex: 1;               
}

.paragrafo{
    margin-top: 40px;
}

.box-vertical1{
    min-height: 125px;
    background-image: url('tremembe-img2.jpg');
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    color: #F2e9ce;
    padding: 18px;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';   
    font-size: 15px;    
}

.box-vertical2{
    min-height: 125px;
    background-image: url('grammy-img2.jpg');
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    color: #F2e9ce;
    padding: 18px;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';   
    font-size: 15px;
}

.box-vertical3{
    min-height: 125px;
    background-image: url('wicked-img2.jpg');
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    color: #F2e9ce;
    padding: 18px;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';   
    font-size: 15px;
}

.box-vertical4{
    min-height: 125px;
    background-image: url('imagemteste2.jpg');
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    color: #F2e9ce;
    padding: 18px;
    border-radius: 6px;
    font-family: 'IBM Plex Sans';   
    font-size: 15px;
}

.link-noticias {
    color: #F2AE2E;
}

.link-noticias:hover {
    color: #BFB74B;
}

footer {
    background: #F2AE2E; 
    color: #F2e9ce; 
    text-align: center; 
    padding: 10px; 
}

#form-container {
    margin: 24px auto;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    border-radius: 6px;
}

#form-container #header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container button,
#form-container .enviar {
    background-color: #F2e9ce;
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    gap: 8px;
    color: #D96C80;
}

#form-container button:hover,
#form-container .enviar:hover {
    background-color: #BFB74B;
    color: #F2e9ce;
}

#form-container form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

#form-container #input-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

#form-container .input-field{
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
}

#form-container .form-control{
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

#form-container .input-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#form-container .form-label i {
    margin-left: 6px;
}
